$noir01: #10151F;
$noir02: #1C1F25;
$grisfonce: #333740;
$gris: #4D5361;
$grispale: #B9B9B9;
$vertgazon: #5D9A41;
$vertpale: #99C792;
$bleupale: #9CA7CF;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $noir02;
    font-family: "Montserrat", sans-serif;
}
/*=================================================================PAGE D'ACCUEIL===============================================================*/

/*---Barre de Navigation---*/

.nav-wraper {
    background: $grisfonce;
    
    ul {
        margin-right: 4rem;
        li:hover { background: #2c2f36; }
        li:active { background: $noir02 ;}
        a { font-size: 1.2rem;
            font-weight: 700;
        }
        .active {
            a { color: $vertpale ; }
        }
    }
}

.brand-logo {
    margin-left: 4rem;
    font-weight: 700;
}

.active {
    background: #1a2333 !important;
}

.sidenav {
    background: $grisfonce;
    border-style: solid;
    border-color: $gris;
    li {
        margin-top: 1.5rem;
        a {
        color: white;
        text-align: center;
        font-size: 1rem ;
        font-weight: 700;
        }
    li:active {background-color: $noir02;}    
    }
}

/*--------------MAIN---------------*/

.container {
    margin-top: 80px;
}

#entete {
    display: grid;
    grid-template-columns: 13px auto 300px;
    grid-template-rows: auto auto;
    justify-content: center;
}

.greenbar {
    background-color: $vertgazon;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mon-nom {
    grid-area: 1 / 2 / 2;
    margin: 20px;
    h2 {font-weight: 800; color: white; display: inline;}
    h3 {font-weight: 600; color: $grispale;  margin: 0; }
}

.description-rapide {
    grid-area: 2 / 2 / 3;
    margin: 20px;
    h5 {font-weight: 600; color: $grispale;}
}

.portrait01 {
    grid-area: 1 / 3 / 3;
    width: 100%;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.portrait01-mobile {
    display: none;
}

.entete-boutons {
    margin-top: 30px;
    margin-left: 86px;
}
#entete-apropos, #entete-contact {
    width: 225px;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: $grisfonce;
    color: white;
    margin-left: 40px;
    text-decoration: none;
}

#entete-apropos:hover, #entete-contact:hover {
    cursor: pointer;
    background-color: $gris;
}
#entete-apropos:active, #entete-contact:active {
    background-color: $noir02;
}

/*-----------------Réalisations index------------------*/
#index-realisations {
    margin-top: 80px;
    margin-bottom: 100px;
    h3 {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    
    }
}
.index-integration, .index-graphique {
    margin-top: 50px;
    text-align: center;
    h4 {
        color: $vertpale;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 28px;
    }
}

.boitearticle {
    background-color: $noir01;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
    height: 400px;

    h5 {text-align: right; color: $vertpale; font-weight: 600;
    a { color: $vertpale;}}
    p {text-align: justify; padding-top: 10px; color: $grispale; font-size: 1.2rem; font-weight: 500;}
    .effix-un {
        background-image: url("images/effixun.jpg");
        width: auto;
        height: 220px;
        border-radius: 15px;
        background-position: 60% 40%;
    }
    .effix-deux {
        background-image: url("images/effixdeux.png");
        width: auto;
        height: 220px;
        border-radius: 15px;
        background-position: 60% 40%;
    }
    .learn-illustrator {
        background-image: url("images/conception_03.jpg");
        width: auto;
        height: 220px;
        border-radius: 15px;
        background-position: 60% 40%;
    }
    .learn-figma {
        background-image: url("images/conception_02.jpg");
        width: auto;
        height: 220px;
        border-radius: 15px;
        background-position: 60% 25%;
    }
    .pokefarm {
        background-image: url("images/pokefarm.jpg");
        width: auto;
        height: 220px;
        border-radius: 15px;
        background-position: 50%;
    }
    .portfolio {
        background-image: url("images/portfolio.jpg");
        width: auto;
        height: 220px;
        border-radius: 15px;
        background-position: 35% 5%;
    }
    .photoshop {
        background-image: url("images/conception_01.jpg");
        width: auto;
        height: 220px;
        border-radius: 15px;
        background-position: 50%;
    }
    .compagnie {
        background-image: url("images/compagnie.JPG");
        width: auto;
        height: 220px;
        border-radius: 15px;
        background-position: 40%;
    }
}

/*=========Infolettre Popup==========*/

.popup .popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup.active .popup__overlay {
    display: block;
}

.popup.active .popup__content {
    transition: all 100ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup > .popup__content {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: $noir02;
    color: white;
    width: 750px;
    height: 450px;
    z-index: 2;
    text-align: center;
    border-style: dotted;
    border-color: $vertgazon;

    h1 {margin-top: 70px;}

    #newsletterEmail {
        margin-top: 30px;
        width: 600px;
        text-align: center;
        color: white;
        font-size: 1.3rem;
    }
    .newsletterSubmit {
        width: 600px;
        margin-top: 30px;
        height: 50px;
        background: $vertgazon;
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
    }
    .newsletterSubmit:hover {
        background: $vertpale;
    }
    .newsletterSubmit:active{
        background: rgb(37, 68, 37);
    }
    
    .closeBtn {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        background: $grisfonce;
        color: white;
        font-size: 35px;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
}

.newsletter-openBtn {
    background: $vertgazon;
    border-style: dotted;
    border-width: 4px;
    border-color: $grisfonce;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    height: 70px;
    width: 100%;
    text-align: center;
    animation: btnFlash 0.3s infinite;
    transition: all 0.25s;
    cursor: pointer;
}
.newsletter-openBtn:hover {
    background: $vertpale;
}

@keyframes btnFlash {
    0% {color: white;}
    50% {color: $vertpale;}
    100% {color: white;}
}



/*=================================================================PAGE A PROPOS===============================================================*/

.portrait02 {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.description-moi {
    color: white;
    font-size: 3rem;
    margin-top: 8rem;
    text-align: center;
}

.description-details {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background-color: $noir01;
    padding: 20px;
    border-radius: 10px;
    article {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
        margin-bottom: 15px;
        p {
            color: white;
            text-align: justify;
            font-size: 20px;
        }
        img {
            height: auto;
            width: 100%;
            border-radius: 10px;
        }
    }

}

.CV-download {
    text-decoration: none;
    color: $vertgazon;
    font-size: 2rem;
    font-weight: 700;
    background-color: $noir01;
    border-radius: 10px;

}
.CV-download:hover {
    color: $vertpale;
}

/*=================================================================PAGE CONTACT===============================================================*/

.contact-title {
    color: white;
    font-weight: 700;
}

.formulaire {
    width: 100%;
    height: auto;
    background-color: $noir01;
    padding: 40px !important;
    border-radius: 12px !important;

    input {
        outline: none !important;
        border: none !important;
        border-radius: 5px !important;
        font-size: 2rem !important;
        background: white !important;
    }

    #prenom {
        color: black;

    }

    #mandat {
        height: 300px;
        color:black;
        background: white;
        font-size: 1.5rem;
        padding: 20px;
        resize: none;
        outline: none;
        border: none;
        border-radius: 5px;
    }

    .submit-button {
        width: 100% !important;
        height: 65px;
        background: $vertgazon;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 5px;
    }

    .submit-button:hover {
        background: $vertpale;
    }
    .submit-button:active {
        background: rgb(34, 68, 34);
    }
}

/*=================================================================PAGE DESCRIPTION PROJET===============================================================*/
.projet-background {
    background: $noir01;
    padding: 20px;
    height: auto;
    text-align: justify;
    border-radius: 10px;
}

.projet-desc-01 {
    div {background-image: url(images/effixun.jpg); width: auto; height: 350px; background-position: center; border-radius: 10px;}
    p {color: white; font-weight: 500; font-size: 1.2rem; margin-top: 30px;}
}
.projet-desc-02 {
    img {border-radius: 15px; margin-top: 30px;}
    p {color: white; font-weight: 500; font-size: 1.2rem; margin-top: 30px;}
}

/*=================================================================FOOTER===============================================================*/

footer {
    border-radius: 10px;
    background-color: $grisfonce !important;
    
    .footer-social {
        h4, img {display: inline;}
        h4 {font-weight: 600;}
        img { width: 50px; height: 50px; margin-left: 20px; position: relative; top: 13px;}
    }
    .footer-infos {
        h4 {font-weight: 600; float: left;}
        ul {float: right; text-align: right;}
    }
    .footer-portfolio {
        h4 {float: right; font-weight: 600; margin-right: 30px;}
    }
}

/*=================================================================MEDIA QUERIES===============================================================*/

@media screen and (max-width: 993px) {
    
    .brand-logo {
        
        margin-left: 0px;
        font-weight: 700;
    }

    .menu-bars {
        i { font-size: 2rem;}
    }

    #entete {
        grid-template-columns: 13px auto 230px;
    }

    .mon-nom {
        h1 {font-size: 3rem; font-weight: 800; color: white; display: inline;}
        h3 {font-size: 2rem; font-weight: 600; color: $grispale;  margin: 0; }
    }
    
    .description-rapide {
        h5 {font-size: 20px; font-weight: 600; color: $grispale;}
    }
    
    .entete-boutons {
        margin-top: 30px;
        margin-left: 0px !important;
    }

    #entete-apropos, #entete-contact {
        width: 200px;
        height: 45px;
        font-size: 1.1rem;
    }

    .description-moi {
        margin-top: 5rem;
        font-size: 1.2rem;
    }

    .description-details {
        article {
            p {
                font-size: 13px;
            }
        }

    }

    footer {  
        h4 {font-size: 24px;}
        .footer-social {
            img {width: 40px; height: auto; margin-left: 10px;}
        }
        .footer-infos {
            ul {font-size: 12.5px; font-weight: 500;}
        }
    }
}


@media screen and (max-width: 600px) {
    .description-details {
        article {
            grid-template-columns: auto;
            grid-gap: 20px;
            margin-bottom: 20px;

            p {
                font-size: 18px;
            }
    }
}

    .entete {
        grid-template-columns: 10px auto auto;
        grid-template-rows: auto;
    }


    .mon-nom {
        h2 {font-size: 3rem;}
        margin-left: 50px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .description-rapide {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        max-width: auto;
        h5 {font-size: 25px; font-weight: 600; text-align: center;}
    }

    .portrait01 {
        display: none;
    }

    .portrait01-mobile {
        display: block;
        border-radius: 100%;
        border-style: solid;
        border-width: 10px;
        border-color: white;
        width: 70%;
        height: auto;
        margin-left: 80px;
    }

    footer {
        .footer-social {
            h4 {display: none;}
            img { width: 70px; height: auto; margin-left: 30px; margin-right: 30px; top: 0;}
        }
        .footer-infos {
            h4 {display: none;}
            ul {display: none;}
        }
        .footer-portfolio {
            h4 {display: none;}
        }
    }
}

/*================Animation Tweaking================*/

.btnHover {
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  
  .btnHover:hover {
    -webkit-transition: all 250ms;
    transition: all 250ms;
    background-color: #4D5361;
  }
  
  .svgAnimate {
    -webkit-animation-name: svgAnimate;
            animation-name: svgAnimate;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
  }
  
  @-webkit-keyframes svgAnimate {
    0% {
      position: relative;
      top: 100px;
      width: 0px;
      height: 0px;
    }
    100% {
      width: 50px;
      height: 50px;
      rotate: 360deg;
    }
  }
  
  @keyframes svgAnimate {
    0% {
      position: relative;
      top: 100px;
      width: 0px;
      height: 0px;
    }
    100% {
      width: 50px;
      height: 50px;
      rotate: 360deg;
    }
  }
  
  .gear {
    width: 125px;
    position: fixed;
    top: 150px;
    left: 430px;
  }
  .gear2{
    width: 100px;
    position: fixed;
    top: 270px;
    left: 420px;
  }
  .gear3{
    width: 70px;
    position: fixed;
    top: 360px;
    left: 485px;
  }
  .gearAnimated {
    animation: rotateGear 2s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll)* -1s);
  }
  .gearAnimated2 {
    animation: rotateGear2 2s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll)* -1s);
  }
  
  @keyframes rotateGear {
    to {transform: rotate(-360deg)}
  }
  @keyframes rotateGear2 {
    to {transform: rotate(360deg)}
  }

  .smallCircles {
      position: fixed;
      width: 100px;
      height: 100px;
      z-index: 1;
  }

.spinAround {
    animation: spinAround 12s linear 3, spinCircles 1s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes spinAround {
    0% {top: 100px; left: 0;}
    25% {top: 100px; left: 2280px;}
    50% {top: 1050px; left: 2280px;}
    75% {left: 0px; top: 1050px;}
    100% {top: 100px; left: 0px; display: none;}
}
@keyframes spinCircles {
    to {transform: rotate(360deg);}
}