@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1C1F25;
  font-family: "Montserrat", sans-serif;
}

/*=================================================================PAGE D'ACCUEIL===============================================================*/
/*---Barre de Navigation---*/
.nav-wraper {
  background: #333740;
}

.nav-wraper ul {
  margin-right: 4rem;
}

.nav-wraper ul li:hover {
  background: #2c2f36;
}

.nav-wraper ul li:active {
  background: #1C1F25;
}

.nav-wraper ul a {
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-wraper ul .active a {
  color: #99C792;
}

.brand-logo {
  margin-left: 4rem;
  font-weight: 700;
}

.active {
  background: #1a2333 !important;
}

.sidenav {
  background: #333740;
  border-style: solid;
  border-color: #4D5361;
}

.sidenav li {
  margin-top: 1.5rem;
}

.sidenav li a {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.sidenav li li:active {
  background-color: #1C1F25;
}

/*--------------MAIN---------------*/
.container {
  margin-top: 80px;
}

#entete {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13px auto 300px;
      grid-template-columns: 13px auto 300px;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.greenbar {
  background-color: #5D9A41;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mon-nom {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 2;
  margin: 20px;
}

.mon-nom h2 {
  font-weight: 800;
  color: white;
  display: inline;
}

.mon-nom h3 {
  font-weight: 600;
  color: #B9B9B9;
  margin: 0;
}

.description-rapide {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  grid-area: 2 / 2 / 3;
  margin: 20px;
}

.description-rapide h5 {
  font-weight: 600;
  color: #B9B9B9;
}

.portrait01 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: 1 / 3 / 3;
  width: 100%;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.portrait01-mobile {
  display: none;
}

.entete-boutons {
  margin-top: 30px;
  margin-left: 86px;
}

#entete-apropos, #entete-contact {
  width: 225px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #333740;
  color: white;
  margin-left: 40px;
  text-decoration: none;
}

#entete-apropos:hover, #entete-contact:hover {
  cursor: pointer;
  background-color: #4D5361;
}

#entete-apropos:active, #entete-contact:active {
  background-color: #1C1F25;
}

/*-----------------Réalisations index------------------*/
#index-realisations {
  margin-top: 80px;
  margin-bottom: 100px;
}

#index-realisations h3 {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

.index-integration, .index-graphique {
  margin-top: 50px;
  text-align: center;
}

.index-integration h4, .index-graphique h4 {
  color: #99C792;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 28px;
}

.boitearticle {
  background-color: #10151F;
  border-radius: 10px;
  padding: 15px;
  margin-top: 25px;
  height: 400px;
}

.boitearticle h5 {
  text-align: right;
  color: #99C792;
  font-weight: 600;
}

.boitearticle h5 a {
  color: #99C792;
}

.boitearticle p {
  text-align: justify;
  padding-top: 10px;
  color: #B9B9B9;
  font-size: 1.2rem;
  font-weight: 500;
}

.boitearticle .effix-un {
  background-image: url("images/effixun.jpg");
  width: auto;
  height: 220px;
  border-radius: 15px;
  background-position: 60% 40%;
}

.boitearticle .effix-deux {
  background-image: url("images/effixdeux.png");
  width: auto;
  height: 220px;
  border-radius: 15px;
  background-position: 60% 40%;
}

.boitearticle .learn-illustrator {
  background-image: url("images/conception_03.jpg");
  width: auto;
  height: 220px;
  border-radius: 15px;
  background-position: 60% 40%;
}

.boitearticle .learn-figma {
  background-image: url("images/conception_02.jpg");
  width: auto;
  height: 220px;
  border-radius: 15px;
  background-position: 60% 25%;
}

.boitearticle .pokefarm {
  background-image: url("images/pokefarm.jpg");
  width: auto;
  height: 220px;
  border-radius: 15px;
  background-position: 50%;
}

.boitearticle .portfolio {
  background-image: url("images/portfolio.jpg");
  width: auto;
  height: 220px;
  border-radius: 15px;
  background-position: 35% 5%;
}

.boitearticle .photoshop {
  background-image: url("images/conception_01.jpg");
  width: auto;
  height: 220px;
  border-radius: 15px;
  background-position: 50%;
}

.boitearticle .compagnie {
  background-image: url("images/compagnie.JPG");
  width: auto;
  height: 220px;
  border-radius: 15px;
  background-position: 40%;
}

/*=========Infolettre Popup==========*/
.popup .popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup.active .popup__overlay {
  display: block;
}

.popup.active .popup__content {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup > .popup__content {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #1C1F25;
  color: white;
  width: 750px;
  height: 450px;
  z-index: 2;
  text-align: center;
  border-style: dotted;
  border-color: #5D9A41;
}

.popup > .popup__content h1 {
  margin-top: 70px;
}

.popup > .popup__content #newsletterEmail {
  margin-top: 30px;
  width: 600px;
  text-align: center;
  color: white;
  font-size: 1.3rem;
}

.popup > .popup__content .newsletterSubmit {
  width: 600px;
  margin-top: 30px;
  height: 50px;
  background: #5D9A41;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.popup > .popup__content .newsletterSubmit:hover {
  background: #99C792;
}

.popup > .popup__content .newsletterSubmit:active {
  background: #254425;
}

.popup > .popup__content .closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background: #333740;
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.newsletter-openBtn {
  background: #5D9A41;
  border-style: dotted;
  border-width: 4px;
  border-color: #333740;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  height: 70px;
  width: 100%;
  text-align: center;
  -webkit-animation: btnFlash 0.3s infinite;
          animation: btnFlash 0.3s infinite;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
}

.newsletter-openBtn:hover {
  background: #99C792;
}

@-webkit-keyframes btnFlash {
  0% {
    color: white;
  }
  50% {
    color: #99C792;
  }
  100% {
    color: white;
  }
}

@keyframes btnFlash {
  0% {
    color: white;
  }
  50% {
    color: #99C792;
  }
  100% {
    color: white;
  }
}

/*=================================================================PAGE A PROPOS===============================================================*/
.portrait02 {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.description-moi {
  color: white;
  font-size: 3rem;
  margin-top: 8rem;
  text-align: center;
}

.description-details {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  background-color: #10151F;
  padding: 20px;
  border-radius: 10px;
}

.description-details article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 20px;
  margin-bottom: 15px;
}

.description-details article p {
  color: white;
  text-align: justify;
  font-size: 20px;
}

.description-details article img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.CV-download {
  text-decoration: none;
  color: #5D9A41;
  font-size: 2rem;
  font-weight: 700;
  background-color: #10151F;
  border-radius: 10px;
}

.CV-download:hover {
  color: #99C792;
}

/*=================================================================PAGE CONTACT===============================================================*/
.contact-title {
  color: white;
  font-weight: 700;
}

.formulaire {
  width: 100%;
  height: auto;
  background-color: #10151F;
  padding: 40px !important;
  border-radius: 12px !important;
}

.formulaire input {
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
  font-size: 2rem !important;
  background: white !important;
}

.formulaire #prenom {
  color: black;
}

.formulaire #mandat {
  height: 300px;
  color: black;
  background: white;
  font-size: 1.5rem;
  padding: 20px;
  resize: none;
  outline: none;
  border: none;
  border-radius: 5px;
}

.formulaire .submit-button {
  width: 100% !important;
  height: 65px;
  background: #5D9A41;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 5px;
}

.formulaire .submit-button:hover {
  background: #99C792;
}

.formulaire .submit-button:active {
  background: #224422;
}

/*=================================================================PAGE DESCRIPTION PROJET===============================================================*/
.projet-background {
  background: #10151F;
  padding: 20px;
  height: auto;
  text-align: justify;
  border-radius: 10px;
}

.projet-desc-01 div {
  background-image: url(images/effixun.jpg);
  width: auto;
  height: 350px;
  background-position: center;
  border-radius: 10px;
}

.projet-desc-01 p {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 30px;
}

.projet-desc-02 img {
  border-radius: 15px;
  margin-top: 30px;
}

.projet-desc-02 p {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 30px;
}

/*=================================================================FOOTER===============================================================*/
footer {
  border-radius: 10px;
  background-color: #333740 !important;
}

footer .footer-social h4, footer .footer-social img {
  display: inline;
}

footer .footer-social h4 {
  font-weight: 600;
}

footer .footer-social img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  position: relative;
  top: 13px;
}

footer .footer-infos h4 {
  font-weight: 600;
  float: left;
}

footer .footer-infos ul {
  float: right;
  text-align: right;
}

footer .footer-portfolio h4 {
  float: right;
  font-weight: 600;
  margin-right: 30px;
}

/*=================================================================MEDIA QUERIES===============================================================*/
@media screen and (max-width: 993px) {
  .brand-logo {
    margin-left: 0px;
    font-weight: 700;
  }
  .menu-bars i {
    font-size: 2rem;
  }
  #entete {
    -ms-grid-columns: 13px auto 230px;
        grid-template-columns: 13px auto 230px;
  }
  .mon-nom h1 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    display: inline;
  }
  .mon-nom h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #B9B9B9;
    margin: 0;
  }
  .description-rapide h5 {
    font-size: 20px;
    font-weight: 600;
    color: #B9B9B9;
  }
  .entete-boutons {
    margin-top: 30px;
    margin-left: 0px !important;
  }
  #entete-apropos, #entete-contact {
    width: 200px;
    height: 45px;
    font-size: 1.1rem;
  }
  .description-moi {
    margin-top: 5rem;
    font-size: 1.2rem;
  }
  .description-details article p {
    font-size: 13px;
  }
  footer h4 {
    font-size: 24px;
  }
  footer .footer-social img {
    width: 40px;
    height: auto;
    margin-left: 10px;
  }
  footer .footer-infos ul {
    font-size: 12.5px;
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  .description-details article {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  .description-details article p {
    font-size: 18px;
  }
  .entete {
    -ms-grid-columns: 10px auto auto;
        grid-template-columns: 10px auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .mon-nom {
    margin-left: 50px;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
  .mon-nom h2 {
    font-size: 3rem;
  }
  .description-rapide {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    max-width: auto;
  }
  .description-rapide h5 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
  .portrait01 {
    display: none;
  }
  .portrait01-mobile {
    display: block;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    width: 70%;
    height: auto;
    margin-left: 80px;
  }
  footer .footer-social h4 {
    display: none;
  }
  footer .footer-social img {
    width: 70px;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    top: 0;
  }
  footer .footer-infos h4 {
    display: none;
  }
  footer .footer-infos ul {
    display: none;
  }
  footer .footer-portfolio h4 {
    display: none;
  }
}

/*================Animation Tweaking================*/
.btnHover {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.btnHover:hover {
  -webkit-transition: all 250ms;
  transition: all 250ms;
  background-color: #4D5361;
}

.svgAnimate {
  -webkit-animation-name: svgAnimate;
  animation-name: svgAnimate;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

@-webkit-keyframes svgAnimate {
  0% {
    position: relative;
    top: 100px;
    width: 0px;
    height: 0px;
  }
  100% {
    width: 50px;
    height: 50px;
    rotate: 360deg;
  }
}

@keyframes svgAnimate {
  0% {
    position: relative;
    top: 100px;
    width: 0px;
    height: 0px;
  }
  100% {
    width: 50px;
    height: 50px;
    rotate: 360deg;
  }
}

.gear {
  width: 125px;
  position: fixed;
  top: 150px;
  left: 430px;
}

.gear2 {
  width: 100px;
  position: fixed;
  top: 270px;
  left: 420px;
}

.gear3 {
  width: 70px;
  position: fixed;
  top: 360px;
  left: 485px;
}

.gearAnimated {
  -webkit-animation: rotateGear 2s linear infinite;
          animation: rotateGear 2s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll)* -1s);
          animation-delay: calc(var(--scroll)* -1s);
}

.gearAnimated2 {
  -webkit-animation: rotateGear2 2s linear infinite;
          animation: rotateGear2 2s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll)* -1s);
          animation-delay: calc(var(--scroll)* -1s);
}

@-webkit-keyframes rotateGear {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotateGear {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotateGear2 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateGear2 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.smallCircles {
  position: fixed;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.spinAround {
  -webkit-animation: spinAround 12s linear 3, spinCircles 1s linear infinite;
          animation: spinAround 12s linear 3, spinCircles 1s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spinAround {
  0% {
    top: 100px;
    left: 0;
  }
  25% {
    top: 100px;
    left: 2280px;
  }
  50% {
    top: 1050px;
    left: 2280px;
  }
  75% {
    left: 0px;
    top: 1050px;
  }
  100% {
    top: 100px;
    left: 0px;
    display: none;
  }
}

@keyframes spinAround {
  0% {
    top: 100px;
    left: 0;
  }
  25% {
    top: 100px;
    left: 2280px;
  }
  50% {
    top: 1050px;
    left: 2280px;
  }
  75% {
    left: 0px;
    top: 1050px;
  }
  100% {
    top: 100px;
    left: 0px;
    display: none;
  }
}

@-webkit-keyframes spinCircles {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinCircles {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */